@font-face {
    font-family: 'FuturaNo2DEE';
    src: url('assets/FuturaNo2/FuturaNo2DEE-Book.eot');
    src: local('FuturaNo2DEE-Book'), local('FuturaNo2DEE'),
        url('assets/FuturaNo2/FuturaNo2DEE-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/FuturaNo2/FuturaNo2DEE-Book.woff') format('woff'),
        url('assets/FuturaNo2/FuturaNo2DEE-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typewriter Serial xbold';
    src: url('assets/TypewriterSerialXbold/TypewriterSerialXbold.ttf');
}

@font-face {
    font-family: 'Typewriter Serial medium';
    src: url('assets/TypewriterSerialMedium.ttf')
}

:root {
    --navy-blue: rgba(28, 56, 130, 255); /*#1c3882*/
    --shadow-blue: #08145e;
    --redd: rgba(169, 14, 18, 255); /*A90E12*/
    --off-white: #e3e3dc;
    --dis-green:#5B665D; /*#605E5C;*/
    --solar-panel: #3e4334;
}

body {
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
    position: relative;
}

.container {
    position: relative;
    justify-self: center;
    margin: auto;
    padding-left: 50px;
    padding-top: 20px;
}

.calculator {
    width: auto;
    position: relative;
}

.calc {
    background-color: var(--navy-blue);
    width: 400px;
    height: 600px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: grid;
    grid-template-rows: 30% 70%;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    position: relative;
    box-shadow: 1px 0px 4px 2px rgba(21, 29, 29, 0.64);

}

#top-line {
    position: absolute;
    width: 400px;
    left: 0%;
    z-index: 1;
    border-bottom: 2px solid var(--shadow-blue);
    /* box-shadow: 1px 0px 4px 2px rgba(21, 29, 29, 0.64); */
    height: 27px;
}

#bottom-line {
    position: absolute;
    width: 400px;
    left: 0%;
    z-index: 1;
    border-bottom: 2px solid var(--shadow-blue);
    /* box-shadow: 1px 0px 4px 2px rgba(21, 29, 29, 0.64); */
    height: 103px;
}

.top {
    /* background-color: purple; */
    height: 100%;
    margin: 15px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "display display""left right";
    /* margin-top: 50px; */
    border-bottom: 2px solid var(--shadow-blue);
    gap: 20px;
    padding-bottom: 10px;
}

.top-left {
    font-family: 'FuturaNo2DEE';
    font-weight: normal;
    font-style: normal;
    grid-area: left;
    color: var(--off-white);
    font-size: 1.1em;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.top-right {
    font-family: 'Typewriter Serial medium';
    font-size: 1.2em;
    color: var(--off-white);
    letter-spacing: 3px;
    grid-area: right;
    line-height: 1.2em;
    text-align: end;

}

.solar-panel {
    height: 50px;
    background-color: var(--solar-panel);
    width: 175px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: inset 1px 0px 4px 2px rgba(21, 29, 29, 0.64);

}

.line {
    border: 1px solid black;
}

h1, h3 {
    margin: 0;
    padding: 0;

}

.display {
    background-color: var(--dis-green); /*#5B665D*/
    grid-area: display;
    width: 95%;
    height: 60px;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 2px solid var(--shadow-blue);
    box-shadow: -1px 0px 3px 6px rgba(8, 20, 94, 1),inset 0px 1px 4px 2px rgba(57, 64, 52, 1);

}

.dis-num {
    margin: 10px;
    padding-right: 15px;
    border-radius: 7px;
    overflow: hidden;
    width: 100%;
    height: 80%;
    background-color: #c0c0be;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid rgba(21, 29, 29, 0.64);
    box-shadow: inset 1px 0px 4px 2px rgba(21, 29, 29, 0.64);

}
.dis-num span {
    max-height: 100%; /* Limit the height of span elements */
    overflow: hidden; /* Hide any overflowing content */
}

.inputs {
    border: 2px solid var(--shadow-blue);
    margin: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    padding: 10px;
    /* height: 100%; */
    /* margin-bottom: 90px; */

}

button {
    width: 70px;
    height: 50px;
    font-size: 1em;
    display: flex;
    align-items: start;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 4px 4px 4px 1px rgba(8, 20, 94, 0.74), 2px 0px 3px 0px rgba(218, 227, 234, 0.66);

}

.operations {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: end;
}

.operations button {
    font-size: 1.7em;
    line-height: 1.2em;

}

.op {
    background-color: var(--redd);
    color: var(--off-white);
}

.oped {
    background-color: var(--redd);
    color: var(--off-white);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 5px;
}

#equal {
    height: 105px;
}

.error-message {
    font-size: 1.3rem; 
}